@import './header.css';
@import './main.css';
@import './card-evento.css';
@import './button.css';
@import './footer.css';

:root {
  --difuminado: linear-gradient(80deg, #b00194 0%, #000693 100%);
  --difum: linear-gradient(90deg, #398de2 0%, #f900c2 100%);
  --color-black-1: #212529;
  --color-black-2: #343a40;
  --color-black-3: #495057;
  --color-gray-1: #6c757d;
  --color-gray-2: #adb5bd;
  --color-gray-3: #ced4da;
  --color-white-3: #dee2e6;
  --color-white-2: #e9ecef;
  --color-white-1: #f8f9fa;
  --font-h1-bold: 700 2.5rem/normal Bw Quinta Pro;
  --font-regular: 300 1.25rem/normal Bw Quinta Pro;
  --font-h2-bold: 700 2rem/normal Bw Quinta Pro;
  --font-h3-medium: 500 1.5rem/normal Bw Quinta Pro;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-black-1);

}

.wrapper {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}