.main {
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
  align-items: center;
}

.main-container h2 {
  font: var(--font-h2-bold);
  color: var(--color-white-3);
  text-align: center;
}


.section-main-container {
  padding-block-start: 4rem;
  padding-block-end: 4rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  background: var(--color-white-3);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.section-main-container h2 {
  font: var(--font-h2-bold);
  text-align: center;
}